<div class="min-h-screen flex flex-col justify-between bg-slate-300">
  <div class="flex flex-col flex-grow">
    <nav class="flex items-center justify-between mb-4">
      <div class="text-2xl text-white pl-8 pt-4">
        <a href="/">MoxyId</a>
      </div>

      <ul class="flex flex-row space-x-6 pr-12 pt-4 text-white text-lg">
        @if (api.auth.user()?.role === "admin") {
        <li>
          <a routerLink="users">Users</a>
        </li>
        }
        <li>
          <a routerLink="reports">Reports</a>
        </li>
      </ul>

      <ul class="flex flex-row space-x-6 pr-12 pt-4 text-white text-lg">
        @if (api.auth.user(); as user) {
          <li>
            {{ user.email }}
            <small class="py-2 px-3 rounded bg-slate-400">{{ api.auth.user()?.role }}</small>
          </li>
          <li>
            <a
              routerLink="/"
              (click)="onSignOut()"
            >
              Sign-out</a
            >
          </li>
        } @else {
          <li>
            <a routerLink="signup">Sign-up</a>
          </li>
          <li>
            <a routerLink="signin">Sign-in</a>
          </li>
        }
      </ul>
    </nav>

    <section class="flex justify-center flex-grow bg-slate-100">
      <div class="mt-8">
        <router-outlet />
      </div>
    </section>
  </div>
  <footer class="flex items-center justify-center text-black text-sm h-12">
    &copy; MoxyId {{ year }}
  </footer>
</div>
