<div class="flex flex-col justify-center mt-24">
  <div class="pt-3">
    <h2 class="text-2xl text-center font-semibold leading-tight mb-5">
      Skapa konto
    </h2>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      <input
        class="block w-full input-field mb-5"
        type="email"
        formControlName="email"
        placeholder="Epost"
      />
    </label>

    <label>
      <input
        class="block w-full input-field mb-7"
        type="password"
        formControlName="password"
        placeholder="Lösenord"
      />
    </label>

    @if (form.dirty && form.invalid) {
      <small class="p-3 bg-red-600 text-white">
        Ange korrekt lösenord och epost
      </small>
    }
    <div class="flex justify-center">
      <button [disabled]="form.invalid" class="button-edit-base">Skapa</button>
    </div>
  </form>
</div>
