<div class="container mx-auto px-4 rounded-md">
  <div class="-mx-4 pt-8 flex justify-between">
    <h2 class="text-2xl font-semibold leading-tight">Users</h2>
  </div>

  <div class="-mx-4 mt-3 shadow-md overflow-x-auto">
    <div class="min-w-full shadow rounded-lg overflow-hidden">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th
              class="px-5 py-3 bg-lightGray text-left text-xs font-semibold uppercase tracking-wider"
            >
              Email
            </th>
            <th
              class="px-5 py-3 bg-lightGray text-left text-xs font-semibold uppercase tracking-wider"
            >
              Admin
            </th>
            <th
              class="px-5 py-3 bg-lightGray text-left text-xs font-semibold uppercase tracking-wider"
            >
              
            </th>
          </tr>
        </thead>
        <tbody>
          @for (user of users | async; track user) {
            <tr>
              <td class="px-2 py-5 border-b-[1px] border-lightGray bg-white text-sm">
                <div class="ml-3">
                  <p class="text-slate-900">{{ user.email }}</p>
                </div>
              </td>
              <td class="px-2 py-5 border-b-[1px] border-lightGray bg-white text-sm">
                <div class="ml-6">
                  @if(user.admin) {
                  <p class="text-slate-900">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-3"><path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/></svg>
                  </p>
                  }
                </div>
              </td>
              <td class="px-2 py-5 border-b-[1px] border-lightGray bg-white text-sm">
                <div class="flex items-center justify-center space-x-1.5 mr-3">
                  <button class="button-edit-sm">
                    <a [routerLink]="user.id">
                    Edit
                    </a>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>